.noteNew {
  background-color: #67d7cc;
  padding: 10px;
  border-radius: 10px;
}

textarea{
  align-self: center;;
  border: none;
  resize: none;
  background-color:#67d7cc;
  width: 100%;
  /* 100% fill space of container in this fix */
  /* margin-left: 20px; old hacky way*/ 

}
textarea:focus {
  outline: none;
}

.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px, 10px, 5px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}