.noteNew {
  /* background-color: #851c4d; */
  background-color: #E57F84;

  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  /* extra */
  
  min-height: 170px;
  padding: 1rem;
  border-radius: 10px;
  
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: whitesmoke;
}

textarea{
  align-self: center;;
  border: none;
  resize: none;
  background-color: #E57F84;
  width: 100%;
  color: white;
  border-style: dashed;
  /* 100% fill space of container in this fix */
  /* margin-left: 20px; old hacky way*/ 

}
textarea:focus {
  outline: none;
  color: white;
}

.save{
  
  /* background-color: #f64c72; */
  background-color: #E57F84;
  border: none;
  border-radius: 15px;
  padding: 5px, 10px, 5px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

