#container {
  width: 960px;
  overflow: hidden;
  margin: 10px auto;
  background-color: whitesmoke;
  border-radius: 10%;
  height: 30px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px;
}

/*header*/
header {
  width: 800px;
  /* margin: 40px auto; */
}

/* header h1 {
  text-align: center;
  font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}

header p {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: justify;
} */

/*photobanner*/

.photobanner {
  /* height: 233px; */
  width: 3550px;
  overflow: hidden;
}

span {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

/*keyframe animations*/
.first {
  animation: bannermove 7.5s ease-in-out infinite;
}

.second {
  animation: 5.5s;
}

@keyframes bannermove {
  0% {
    margin-left: 700px;
  }
  100% {
    margin-left: -425px;
  }
}
