.lightQuote{
  background: linear-gradient(
    177.9deg,
    rgb(64, 70, 109) 3.6%,
    rgb(15, 39, 100) 105.8%
  );
  color: #ccc;
  width: 960px;
  overflow: hidden;
  margin: 10px auto;
  height: 30px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px;
  border-radius: 7px;

}

.darkQuote{
  background-color: whitesmoke;
  color: #0b0b0b;
  width: 960px;
  overflow: hidden;
  margin: 10px auto;
  height: 30px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px;
  border-radius: 7px;
}
.photobanner {
  /* height: 233px; */
  width: 3550px;
  overflow: hidden;
}

span {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

/*keyframe animations*/
.first {
  animation: bannermove 7.5s ease-in-out infinite;
}

.second {
  animation: 5.5s;
}

@keyframes bannermove {
  0% {
    margin-left: 700px;
  }
  100% {
    margin-left: -425px;
  }
}
