.Profile{
  color: blue;
  border-radius: 50%;
  background-color: pink;
  max-height: 20px;
  max-width: 20px;
}

.UserPhoto{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 7pmpx;
  margin-top: 14px;
}
.UserName{
  font-size: 13px;
}