.note {
  background-color: #4297A0;
  min-height: 170px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: whitesmoke;
  
}
 /* update margin */
/* white-space saves spacing */
/* overflow-wrap breaks text into new line */

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
