.darkNote {
  background-color: #333;
  color: #ccc;
  border-style: solid;
  border: 1px solid #ececec;
  font-weight: 500;
  font-family: sans-serif;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  border-width: 1px;
  padding: 1rem;
  min-height: 170px;
}

.lightNote {
  background: linear-gradient(
    177.9deg,
    rgb(64, 70, 109) 3.6%,
    rgb(15, 39, 100) 105.8%
  );
  color: #f58523;
  border-style: solid;
  border: 1px solid #ececec;
  font-weight: 500;
  font-family: sans-serif;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  border-width: 1px;
  padding: 1rem;
  min-height: 170px;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-icon {
  color: #f58523;
}
.text-block {
  display: inline-block;
  text-align: left;
  overflow: hidden;
}
