.note {
  /* background-color: #4297A0; */
  background-color: white;
  min-height: 170px;
  padding: 1rem;
  border-radius: 10px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* color: whitesmoke; */
  color: #0b0b0b;
  border: #0b0b0b;
  border-style: solid;
  
}
 /* update margin */
/* white-space saves spacing */
/* overflow-wrap breaks text into new line */

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-icon {
color:#f58523;;
}
.text-block {
  display: inline-block;
  text-align: left;
  overflow: hidden;
}
