.lightSearch {
  background: linear-gradient(
    177.9deg,
    rgb(64, 70, 109) 3.6%,
    rgb(15, 39, 100) 105.8%
  );
  color: #f58523;

  margin: 1px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  margin-top: 10px;
}

.darkSearch {
  background-color: #333;
  color: #ccc;

  margin: 1px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  margin-top: 10px;
}

.Search input {
  border: none;
  background-color: whitesmoke;
  /* background-color: #0b0b0b; */
  border-radius: 10px;
  padding: 4px;
  color: white;
}

.Search input:focus {
  outline: none;
}

.btn-search {
  border-radius: 20px;
  /* background-color: #4297A0; */
  background-color: white;
  color: #0b0b0b;
  padding: 4px 10px;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
}
.search-icons {
  /* background-color: pink; */
  margin-right: 3px;
  /* margin-top: 10px; */
}
