.Search {
  /* background-color: #f64c72; */
  /* background-color: #f64c72; */
  margin: 1px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  color:#f58523;
  margin-top: 5px;
  
  
}

.Search input {
  border: none;
  background-color: whitesmoke;
  /* background-color: #0b0b0b; */
  border-radius: 10px;
  padding: 4px;
  color: white;


  
}

.Search input:focus {
  outline: none;
  
}

.btn-search {
  border-radius: 10px;
  /* background-color: #4297A0; */
  background-color: white;
  color: #0b0b0b;
  padding: 4px;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  
}

