.Search {
  /* background-color: #f64c72; */
  background-color: #E57F84;
  margin: 1px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  color: white;
  margin-top: 5px;
  
  
}

.Search input {
  border: none;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 4px;


  
}

.Search input:focus {
  outline: none;
  
}

.btn-search {
  border-radius: 10px;
  background-color: #2F5061;
  color: white;
  padding: 4px;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  
}

